.main {
  height: 100vh;
  width: 100vw;
  display: block;
  left: 0;
  transition: all 0.5s;
  overflow: hidden;
  display: block;
}

.main.hide {
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all 0.5s;
  display: block;
  margin-left: -25%;
}

.main.showPortfolio {
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all 0.5s;
  display: block;
  margin-left: -50%;
}

.showContact {
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all 0.5s;
  display: block;
  margin-left: -75%;
}

.home {
  display: flex;
  max-width: 700px;
  margin: 35vh auto;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.foto {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 10px solid rgba(204, 204, 204, 0.1);
}

.info {
  width: 400px;
}

.buttons {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.buttons button {
  padding: 12px 24px;
  border-radius: 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.more {
  background-color: #1c1817;
  color: #fff;
  border: none;
  transition: 0.3s;
}

.more:hover {
  background-color: #faecef;
  color: rgba(1, 1, 3, 0.8);
  border: none;
  transition: 0.3s;
}

.portfolio {
  background-color: transparent;
  border: 3px solid #1c1817;
  transition: 0.3s;
}

.portfolio:hover {
  background-color: transparent;
  border: 3px solid #faecef;
  color: #faecef;
  transition: 0.3s;
}

/*@media queries*/

@media screen and (max-width: "1400px") {
}
