.mainContainer{
  height: 100%;
}

.switchPages{
  display: flex;
  width: 400vw;
  height: 100vh;
  /*overflow-x: hidden;*/
}

.switchPages main{
  border: 1px solid deeppink;
  height: 100vh;
}

.smallLayout {
  display: none;
}

@media (max-width: 980px) {
  .switchPages {
    display: none;
  }

  .navigation {
    display: none;
  }

  .smallLayout {
    display: flex;
    width: 400%;
    overflow-x: hidden;
    height: 100vh;
  }
}
