.switchPages {
  display: flex;
  width: 400%;
  overflow: hidden;
}

.smallLayout {
  display: none;
}

@media (max-width: 980px) {
  .switchPages {
    display: none;
  }

  .navigation {
    display: none;
  }

  .smallLayout {
    display: flex;
    width: 400%;
    overflow: hidden;
  }
}
