---
interface Props {
  title: string;
}
const { title = "Astro App" } = Astro.props as Props;

//components
import Navigation from "../components/navigation";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body style={{ backgroundColor: "#412A3A" }}>
    <Navigation client:load />
    <slot />
    <!--special Tag for rendering content in Layout -->
  </body>
</html>
